.editor-container:focus-visible {
    outline: none;
  }
.editor-container p{
  @apply my-2;
}
.editor-container p,
.editor-container table {
  position: relative;
}

.highlight-first-row{
  border: 1px solid red;
}

.editor-container ul,
.editor-container ol {
  padding: 0 1rem;
  margin: 0.25rem 1rem 0.25rem 0.4rem;
}
.editor-container ul{
  list-style-type: disc;
}
.editor-container ol{
  list-style-type: decimal;
}
.editor-container ol li p, .editor-container ul li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.editor-container code {
  @apply bg-gray-600 text-white px-1 py-0.5 rounded-md mx-0.5;
}

.editor-container h1 {
  @apply text-2xl font-bold mb-4;
}

.editor-container h2 {
  @apply text-xl font-bold mb-4;
}

.editor-container {
  :first-child {
    margin-top: 0;
  }

  blockquote {
    @apply border-l-2 border-gray-300 pl-4;
    margin: 1.5rem 0;
  }
}
