.tableWrapper table {
  @apply w-full items-center bg-transparent border-collapse border-none;
}

.tableWrapper table th {
  @apply border;
}

.tableWrapper table td {
  @apply border;
}

.editor-container table tbody {
  width: 100%;
}
.editor-container table td,
.editor-container table th {
  border: 1px solid black;
  padding: 5px;
}
